{% extends 'page.html' %}

{% block subtitle %}Produk Hukum{% endblock %}

{% block breadcrumb_content %}
    <li>{% link_for _('Produk Hukum'), named_route='produk_hukum.index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
    {% if h.check_access('publikasi_create') %}
        {% link_for _('Tambah Produk Hukum'), named_route='produk_hukum'+'.create', class_='btn btn-primary', icon='plus-square' %}
    {% endif %}
{% endblock %}

{% block primary_content_inner %}
    
    {% set sorting = [
        (_('Terbaru ke Paling Lama'), 'meta_release_date desc'),
        (_('Paling Lama ke Terbaru'), 'meta_release_date asc'),
        (_('A-Z (menaik)'), 'title asc'),
        (_('Z-A (menurun)'), 'title desc') ]
    %}
    {% snippet 'snippets/search_form.html', type='Publication', query=q, sorting_selected=sort_by_selected, placeholder='Cari Produk Hukum', count=response['page'].item_count, sorting=sorting %}

    {% if response['data'] %}
        {{ h.snippet('produk_hukum/snippets/produk_hukum_list.html', data=response['data']) }}
    {% else %}
        <p><i>Belum ada dokumen Produk Hukum</i></p>
    {% endif %}

    {% block page_pagination %}
        {{ response['page'].pager(q=q) }}
    {% endblock %}

{% endblock %}

{% block secondary_content %}
    {% snippet 'produk_hukum/snippets/helper.html' %}
{% endblock %}